<!-- footer section start -->
<div class="footer_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-3">
        <h1 class="footer_taital">Menu</h1>
        <div class="footer_menu">
          <ul>
            <li><a href="home">Dashboard</a></li>
            <li><a href="G2">G2 Licence</a></li>
            <li><a href="G">G Licence</a></li>
            <li><a href="appointment">Appointment</a></li>
            <li><a href="candidates">Candidates</a></li>
            <li><a href="examiner">Examiner</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <h1 class="footer_taital">Location</h1>
        <div class="map_text">
          <a href="#"><span>Serco Customer Feedback Department Oshawa DriveTest Centre,
              Midtown Mall<br />
              200 John St. W.<br />
              Oshawa, Ontario L1J 2B4</span></a>
        </div>
        <div class="map_text">
          <a href="#"><img src="images/call-icon.png" /><span class="map_icon">( 1-888-570-6110)</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- footer section end -->